:root{
    --vermelho: #e50914;
    --preto: #141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
/*CABECALHO COMECA AQUI*/
header{
    background: rgba(0,0,0, 0.2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;  
    padding: 0px 15px;
}
.navegacao{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.navegacao ul{
    display: flex;
}
.logo{
    margin-right: 30px;
}
.navegacao ul li a{
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    color: #AAA;
    margin-right: 15px;
}
header nav a:hover{
    color: #fff;
}
.filme-pricipal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../img/poster\ principal.jpg");
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.descricao{
    width: 650px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
}
.filme-pricipal .titulo{
    font-size: 40px;
    padding-left: 30px;
}
.botoes .btn{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    color: var(--preto);
    background: #fff;
    border: none;
    font-weight: bold;
    margin-right: 15px;
    margin-left: 30px;
}
.botoes .btn:hover{
    background: rgba(255, 255, 255, 0.8);
}
.botoes .btn-inf{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    background: rgb(71, 71, 71);
    border: none;
    font-weight: bold;
}
.botoes .btn-inf:hover{
    background: rgba(71, 71, 71, 0.5);
}
.fa-info-circle{
    margin-right: 10px;
}
.fa-bell, .fa-search{
    margin-right: 15px ;
}
.titulo-carrossel{
    width: 150px;
    margin: 30px 30px;
    background: rgba(153, 146, 146, 0.1);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    border: none;
}
.titulo-carrossel:hover{
    background: #fff;
    color: var(--preto)
}
.box-filme{
    width: 100%;
    height: 100%;
    display: block;
}
.rodape{
    background: black;
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.heart{
    color: red;
}